html,
body {
  min-height: 100%;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(231, 227, 222);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container1,
.container2 {
  width: 80%;
  margin-top: 100px;
  padding: 0 30px 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
  border: 1px solid black;
  min-width: fit-content;
  position: relative;
}
.container2 {
  display: none;
}

.mode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 20px;
  min-width: 420px;
}

.versus {
  padding: 20px;
  border: 1px solid slateblue;
}

.cards {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

input[type="text"] {
  padding: 5px;
  outline: none;
  border: none;
  display: none;
}

input[type="button"]:focus {
  border: 1px solid black;
}

img {
  margin: auto;
  margin-bottom: 10px;
  height: 100px;
  display: block;
}

input[type="submit"] {
  margin: 15px auto;
}

.board {
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
  margin-bottom: 20px;
}

.board div {
  border: 1px solid black;
}
.circle {
  background-image: url("images/circle.png");
  background-position: center;
  background-size: cover;
}

.x {
  background-image: url("images/x.png");
  background-position: center;
  background-size: cover;
}

.win {
  background-color: #04aa65;
}

.buttons {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}
#replay,
#back,
#submit {
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  background-color: #04aa6d;
  border: none;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}

#replay:hover,
#back:hover,
#submit:hover {
  background-color: #04aa6dc9;
}
